# Unity generated #
# =============== #
Game/Temp/
Game/Obj/
Game/UnityGenerated/
Game/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Game/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db